.navbar{
  padding-left: 31.5%;
  background-color:aqua;
  display:flex;
  padding-top:15px;
  padding-bottom:15px;
  border-style:ridge;
  font-size: 129%;
 }

a{
    text-decoration:none;
    color: black;
}
.navbar a li{
    display: inline;
    padding-top:20px;
    padding-left: 25px;
    padding-bottom:20px;
    padding-right: 25px;
    text-decoration: none;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.navbar a li:hover{
    border-style:outset;
    background-color: rgb(244, 248, 4);
    color:black;
    padding-top:20px;
    padding-left: 25px;
    padding-bottom:20px;
    padding-right: 25px;
    border-color:rgb(213, 215, 218);
}

body{
    background-color:azure;
    
}

.navlinks{
    margin-top: 3.5%;
    padding-top: -5%;    
}

.maincontent{
  margin-left:17%;
  margin-bottom:3%;
  margin-top: 4%;
  margin-right: 16%;
  background:linear-gradient(rgba(17, 17, 17, 0.685), rgba(17, 17, 17, 0.685)), url(../img/jovemaprendiz.jpeg);
  background-repeat:no-repeat;
  background-size: 900px 900px;
  border-style: outset;
 

}

.login{
    padding-left: 33%;
    padding-bottom: 3%;
    padding-top: 2%;
    font-size: 175%;
    color: rgb(233, 233, 227);
}

.footer{
    background-color:aqua;
    margin-top:7%;
    padding-left: 43.5%;
    padding-top:25px;
    padding-bottom:25px; 
    font-family:Arial, Helvetica, sans-serif;
    border-style:ridge;
    display: flex;
}

button{
    margin-top:3%;
    margin-left: 13%;
    margin-right:-10%;
    border-radius: 3px;
    width: 80px;
    height:40px;
}

img{
  width: 150px;
  height: 150px;
  padding-left:15%;
}

button:active{
    background-color:rgb(244, 248, 4);
}

.logotipo{
    margin-left:-44%;
    padding-right: 32%;
    
}

.logo{
    width: 75px;
    height: 75px;
}

.socialmedia{
    width: 48px;
    height: 48px;
}

.textfooter{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:-68%;
    padding-right: 25%;
    margin-top: 1.5%;
}

.maincontentquemsomos{
    margin-left:30%;
    margin-bottom:3%;
    margin-top: 4%;
    margin-right: 16%;
    
}

.maintextabout{
    padding-right:50%;
    padding-bottom:20%;   
}

.imgabout{
    margin-left:50%;
    margin-top:-41%;
    padding-bottom:15%;
    width:64px;
    height:64px;
}
 
.buttoncadastro{
    width:150px;
    height:150px;
    font-size: 169%;
}

.maincontentcadastro{
    margin-left:30%;
    margin-bottom:2%;
    margin-top: 4%;
    padding-top:1%;
    margin-right: 16%;
    padding-bottom:4%;
}

.cep{
    text-decoration:underline;
    color:black;
    font-size: 90%;
}

textarea{
    resize: none;
    font-size: 69%;
}

.formulariocadastro{
    margin-left:-5%;
    padding-right:19%;
    padding-left:32%;
    margin-top: -5%;
    margin-bottom: -13%;
    font-size: 159%;
    border-style:ridge;
    background-color:rgba(236, 234, 234, 0.925);
}

.inputformuser{
    margin-bottom:2%;
    font-size: 69%;
}

.btncadastrouser{
    margin-left: 20%;
    margin-bottom:6%;
    background-color:rgb(187, 183, 183);
    border-style:outset;
}

.maincontentcadastrousuario{
    margin-left:20%;
    margin-bottom:2%;
    margin-top: 4%;
    padding-top:1%;
    margin-right: 11%;
    padding-bottom:4%;
}

.maincontentcadastroempresa{
    margin-left:20%;
    margin-bottom:2%;
    margin-top: 4%;
    padding-top:1%;
    margin-right: 11%;
    padding-bottom:4%;
}